body {
  text-align: center;
  font-family:'Orbitron', sans-serif;
  margin: 0;
  background: black;
}

main {
  width: 502px;
  height: 673px;
  margin: 10px auto;
  border: 1px dashed white;
}

#scoreboard {
  width: 90px;
  height: 640px;
  float: left;
  color: white;
  background: black;
  margin: 0;
  border-right: 1px dashed white;
  border-left: 1px dashed white;
}

#scoreboard ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

#scoreboard li {
  height: 76px;
  width: 76px;
  border: 2px solid white;
  margin: 5px;
  line-height: 76px;
}

li#direction {
  margin: 109px 5px 109px 5px;
  font-size: 50px
}

#colourPicker {
  width: 90px;
  height: 640px;
  float: left;
  color: white;
  background: black;
  margin: 0;
}

#colourPicker ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

#colourPicker .colours {
  height: 76px;
  width: 76px;
  margin: 5px;
  line-height: 76px;
}

#colourHeading {
  height: 29px;
  border: 2px solid;
  margin: 5px;
  line-height: 29px;
}

#white {
  border: 2px solid white;
}

#red {
  border: 2px solid red;
}

#blue {
  border: 2px solid blue;
}

#green {
  border: 2px solid green;
}

#yellow {
  border: 2px solid yellow;
}

#purple {
  border: 2px solid purple;
}

#orange {
  border: 2px solid orange;
}


#playArea {
  margin: 0 auto;
  width: 318px;
  height: 638px;
  border: 1px solid black;
  padding: 0;
  float: left;
  background: white;
  position: relative;
}

#playArea div {
  float: left;
  background: black;
  position: absolute;
}

#playArea .matchedDiv {
  background: grey;
}

.b01x01 {
  width: 38px;
  height: 38px;
}

.b01x02 {
  width: 38px;
  height: 78px;
}

.b01x04 {
  width: 38px;
  height: 158px;
}

.b01x08 {
  width: 38px;
  height: 318px;
}

.b01x16 {
  width: 38px;
  height: 638px;
}

.b02x01 {
  width: 78px;
  height: 38px;
}

.b02x02 {
  width: 78px;
  height: 78px;
}

.b02x04 {
  width: 78px;
  height: 158px;
}

.b02x08 {
  width: 78px;
  height: 318px;
}

.b02x16 {
  width: 78px;
  height: 638px;
}

.b04x01 {
  width: 158px;
  height: 38px;
}

.b04x02 {
  width: 158px;
  height: 78px;
}

.b04x04 {
  width: 158px;
  height: 158px;
}

.b04x08 {
  width: 158px;
  height: 318px;
}

.b04x16 {
  width: 158px;
  height: 638px;
}

.b08x01 {
  width: 318px;
  height: 38px;
}

.b08x02 {
  width: 318px;
  height: 78px;
}

.b08x04 {
  width: 318px;
  height: 158px;
}

.b08x08 {
  width: 318px;
  height: 318px;
}

.b08x16 {
  width: 318px;
  height: 638px;
  top: 0px;
  left: 0px;
}

#acknowledgement {
  width: 502px;
  height: 30px;
  border-top: 1px dashed white;
  float: left;
  font-size: 15px;
  color: white;
  line-height: 30px;
}